*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    height: 35%;
    width: 550px;
    position: absolute;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    padding: 30px 0;
    border-radius: 8px;
    background-color: #1F254C;
}

#title{
    /* background-color: green; */
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

#newtask {

    position: relative;
    padding: 30px 15px;
    background: #fff; 
    border-radius: 5px;
    box-shadow: 0 15px 30pc rgba(0,0,0,0.3);
}

#newtask input{
    border-radius: 5px;
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

#newtask input:focus{

    outline: none;
    border-color: #19A68C;

}

#newtask button{
    position: relative;
    /* float: right; */
    width: 60px;
    height: 45px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    background: #19A68C;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

#newtask input:focus{

    outline: none;
    border-color: #19A68C;

}

#tasks{
    width: 100%;
    position: relative;
    margin-top:40px;
    background: #fff;
    padding:30px 20px;
    border-radius: 5px;
}