*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box; 
}
body {
    background-image: linear-gradient(120deg, #487eb0, #fbc531);
    min-height: 100vh;
}

#newtask {

    position: relative;
    border-radius: 5px;

}

#newtask input{
    border-radius: 5px;
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

#newtask input:focus{

    outline: none;
    border-color: #19A68C;

}

#newtask button{
    position: relative;
    /* float: right; */
    width: 60px;
    height: 45px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    background: #19A68C;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

#newtask button:hover{
    color: black;
    border: black solid 2px;
    background:#19A68C;
}



.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.txtb {
    width: 100%;
    border:none;
    border-bottom: 2px solid;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

h3{
    margin: 10px 0;

}

.task{
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding:18px;
    margin: 6px 0;
    overflow: hidden;
}

.task i {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.completed .task{
    background: rgba(0,0,0,.5);
    color: #fff;
}

img{
    float: right;
    margin-left: 20px;
    cursor: pointer;
    height: 20px;
}







